mat-spinner {
    margin: auto;
    margin-top:40vh;
}

mat-card {
    max-width: 65vw;
    margin: auto;
    margin-top: 10vh;
}

@media screen and (min-width: 992px) {
    mat-card {
        max-width: 40vw;
    }
}

p {
    text-align: center;
}