<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading" class="main-card" [@simpleFadeInAnimation]="'in'">
    <form [formGroup]="registrationForm" (keyup.enter)="onEnter($event)">
        <p>
        <mat-form-field appearance="fill">
            <mat-label>Enter your First Name</mat-label>
            <input #field matInput name="firstName" placeholder="First Name" formControlName="firstName" required>
            <mat-error *ngIf="firstName.invalid">{{getErrorMessage("First Name", firstName)}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Enter your Last Name</mat-label>
            <input #field matInput name="lastName" placeholder="Last Name" formControlName="lastName" required>
            <mat-error *ngIf="lastName.invalid">{{getErrorMessage("Last Name", lastName)}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input #field matInput name="email" placeholder="yourname@example.com" formControlName="email" required > 
            <mat-error *ngIf="email.invalid">{{getErrorMessage("Email", email)}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Enter your Password</mat-label>
            <input #field matInput name="password"  [type]="hidePassword ? 'password' : 'text'" placeholder="Password" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="togglePasswordShown($event)">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{getErrorMessage("Password", password)}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button color="primary" [disabled]="!registrationForm.valid" (click)="register()">
            Send
        </button>
    </p>
    <p>
    </form>
</mat-card>
