.app-icon {
    font-size: 40vw;
    width: 40vw;
    margin: auto;
    display: block;
    color: #673ab7;
    margin-top: 30vh;
}

.app-icon-error {
    color: red;
}

@media screen and (min-width: 992px) {
    .app-icon {
        font-size: 20vw;
        width: 20vw;
        margin-top: 30vh;
    }
}